.button {
    @apply whitespace-no-wrap text-white inline-flex items-center mx-1 px-3 py-1.5 border border-transparent text-sm leading-4 font-medium rounded-md;
    @apply transition duration-150 ease-in-out;

    &:focus {
        @apply outline-none;
    }

    &:disabled {
        @apply opacity-25 cursor-not-allowed;
    }

    @each $color in $colors {
        &.#{$color} {
            @apply bg-#{$color}-500;
            &:hover {
                @apply bg-#{$color}-600;
            }

            &:focus {
                @apply bg-#{$color}-700;
            }

            &.active {
                @apply bg-#{$color}-800;
            }
        }
    }

    &.dark-gray {
        @apply bg-gray-750;
        &:hover {
            @apply bg-gray-800;
        }

        &:focus {
            @apply bg-gray-850;
        }

        &.active {
            @apply bg-gray-900;
        }
    }

    &.small {
        @apply px-2 py-1 text-sm leading-4;
    }

    &.large {
        @apply px-4 py-2 text-sm leading-5;
    }

    i {
        @apply mr-0;

        @media(min-width: theme('screens.md')) {
            @apply mr-2;
        }
    }

    &.icon-only {
        i {
            @apply mr-0 #{!important};
        }
    }

    span {
        @apply hidden;
        @media(min-width: theme('screens.md')) {
            @apply block;
        }
    }
}

.button-group {
    @apply inline-flex;
    .button {
        @apply mx-0 #{!important};
        @apply rounded-none #{!important};
    }

    .button{
        &:first-child {
            @apply rounded-l-md #{!important};
        }

        &:last-child {
            @apply rounded-r-md #{!important};
        }
    }

    .divider {
        @apply h-full border border-gray-800;
        width: 1px;
    }
}