.notifications {
    @apply fixed inset-0 flex items-end justify-center px-4 py-6 pointer-events-none;

    > div {
        @apply max-w-sm w-full shadow-lg rounded-lg pointer-events-auto;

        @media(min-width: theme('screens.md')) {
            @apply max-w-sm;
        }
    }

    .notification {
        @apply rounded-lg mb-2 border overflow-hidden;

        p.title {
            @apply text-sm leading-5 font-medium text-gray-900;
        }

        p.message {
            @apply text-sm leading-5 text-gray-500;
        }
    }
}