a {
    @apply text-blue-600;
}

.voyager-input {
    @apply border-2 border-gray-400 appearance-none rounded w-full py-3 px-3 text-gray-800;
    transition: border 0.2s ease-in-out;

    &:active,
    &:focus {
        @apply border-indigo-600 outline-none;
    }
    &.small {
        @apply py-1 px-2 text-sm;
    }
}

.voyager-label {
    @apply block text-gray-600 text-sm font-normal mb-2;

    &.bigger {
        @apply text-base;
    }
}

.voyager-search {
    @apply rounded py-2 pr-4 pl-10 block text-2xl appearance-none bg-transparent leading-normal w-full search;
    &:focus {
        @apply outline-none w-full;
    }
}

.voyager-search-results {
    @apply absolute bg-white rounded-lg border-gray-600 mt-8
}

.voyager-card {
    @apply p-1;

    .body {
        @apply m-2 bg-white rounded-lg p-1;
    }
}

.voyager-h1 {
    @apply text-gray-800 text-4xl font-black;
}

.hint {
    @apply text-gray-600 text-xs;
}

.button {
    @apply text-white py-2 px-4 mx-1 rounded;
    &:focus {
        @apply outline-none;
    }
    &.bold {
        @apply font-bold;
    }
    &.small {
        @apply py-1 px-2 text-sm;
    }
    &.green {
        @apply bg-green-500;
        &:hover {
            @apply bg-green-600;
        }
        &:active {
            @apply bg-green-700;
        }
        &.active {
            @apply bg-green-700;
        }
    }
    &.red {
        @apply bg-red-500;
        &:hover {
            @apply bg-red-600;
        }
        &:active {
            @apply bg-red-700;
        }
        &.active {
            @apply bg-red-700;
        }
    }
    &.blue {
        @apply bg-blue-500;
        &:hover {
            @apply bg-blue-600;
        }
        &:active {
            @apply bg-blue-700;
        }
        &.active {
            @apply bg-blue-700;
        }
    }
    &.yellow {
        @apply bg-yellow-500;
        &:hover {
            @apply bg-yellow-600;
        }
        &:active {
            @apply bg-yellow-700;
        }
        &.active {
            @apply bg-yellow-700;
        }
    }
    &.orange {
        @apply bg-orange-500;
        &:hover {
            @apply bg-orange-600;
        }
        &:active {
            @apply bg-orange-700;
        }
        &.active {
            @apply bg-orange-700;
        }
    }
    &.purple {
        @apply bg-purple-500;
        &:hover {
            @apply bg-purple-600;
        }
        &:active {
            @apply bg-purple-700;
        }
        &.active {
            @apply bg-purple-700;
        }
    }
}

.button-group {
    @apply inline-flex;
    .button {
        @apply rounded-none mx-0;
    }
    .button:first-child {
        @apply rounded-l;
    }
    .button:last-child {
        @apply rounded-r;
    }
}

.voyager-table {
    @apply w-full text-left border-collapse bg-gray-100 rounded-lg p-3;
    tbody {
        tr {
            td {
                @apply text-gray-700 p-2;
            }
        }
        tr:nth-of-type(odd) {
            @apply bg-gray-300;
        }
    }
}

.voyager-input-container {
    @apply mb-4 relative;

    .voyager-input {
        @apply py-3;

        &::-webkit-input-placeholder {
            color: transparent;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            color: transparent;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            color: transparent;
        }

        &:-ms-input-placeholder {
            color: transparent;
        }

        &:focus,
        &:active,
        &.voyager-filled {
            @apply pb-1 pt-5;

            +.voyager-label {
                @apply text-indigo-600 h-2 mt-0 text-xs;
                transition: all 0.2s ease-out;
            }
        }
    }

    .voyager-label {
        @apply absolute mb-0 text-gray-400 text-base mt-2;
        transition: all 0.2s ease-out;
        top: 0.4rem;
        left: 0.8125rem;
    }
}

// position: relative;
// top: 25px;
// left: 15px;
// font-size: 10px;
// margin-bottom: 0px;
// color: #abacb5;

// input has padding-top 20px;