$inter-font: "voyager-assets?path=fonts%2Finter%2F";

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url(#{$inter-font}Inter-Thin.woff2) format("woff2"),
         url(#{$inter-font}Inter-Thin.woff) format("woff"),
         url(#{$inter-font}Inter-Thin.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url(#{$inter-font}Inter-ThinItalic.woff2) format("woff2"),
         url(#{$inter-font}Inter-ThinItalic.woff) format("woff"),
         url(#{$inter-font}Inter-ThinItalic.ttf) format("ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url(#{$inter-font}Inter-ExtraLight.woff2) format("woff2"),
         url(#{$inter-font}Inter-ExtraLight.woff) format("woff"),
         url(#{$inter-font}Inter-ExtraLight.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url(#{$inter-font}Inter-ExtraLightItalic.woff2) format("woff2"),
         url(#{$inter-font}Inter-ExtraLightItalic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url(#{$inter-font}Inter-Light.woff2) format("woff2"),
         url(#{$inter-font}Inter-Light.woff) format("woff"),
         url(#{$inter-font}Inter-Light.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url(#{$inter-font}Inter-LightItalic.woff2) format("woff2"),
         url(#{$inter-font}Inter-LightItalic.woff) format("woff"),
         url(#{$inter-font}Inter-LightItalic.ttf) format("ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url(#{$inter-font}Inter-Regular.woff2) format("woff2"),
         url(#{$inter-font}Inter-Regular.woff) format("woff"),
         url(#{$inter-font}Inter-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url(#{$inter-font}Inter-Italic.woff2) format("woff2"),
         url(#{$inter-font}Inter-Italic.woff) format("woff"),
         url(#{$inter-font}Inter-Italic.ttf) format("ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url(#{$inter-font}Inter-Medium.woff2) format("woff2"),
         url(#{$inter-font}Inter-Medium.woff) format("woff"),
         url(#{$inter-font}Inter-Medium.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url(#{$inter-font}Inter-MediumItalic.woff2) format("woff2"),
         url(#{$inter-font}Inter-MediumItalic.woff) format("woff"),
         url(#{$inter-font}Inter-MediumItalic.ttf) format("ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url(#{$inter-font}Inter-SemiBold.woff2) format("woff2"),
         url(#{$inter-font}Inter-SemiBold.woff) format("woff"),
         url(#{$inter-font}Inter-SemiBold.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url(#{$inter-font}Inter-SemiBoldItalic.woff2) format("woff2"),
         url(#{$inter-font}Inter-SemiBoldItalic.woff) format("woff"),
         url(#{$inter-font}Inter-SemiBoldItalic.ttf) format("ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url(#{$inter-font}Inter-Bold.woff2) format("woff2"),
         url(#{$inter-font}Inter-Bold.woff) format("woff"),
         url(#{$inter-font}Inter-Bold.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url(#{$inter-font}Inter-BoldItalic.woff2) format("woff2"),
         url(#{$inter-font}Inter-BoldItalic.woff) format("woff"),
         url(#{$inter-font}Inter-BoldItalic.ttf) format("ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url(#{$inter-font}Inter-ExtraBold.woff2) format("woff2"),
         url(#{$inter-font}Inter-ExtraBold.woff) format("woff"),
         url(#{$inter-font}Inter-ExtraBold.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url(#{$inter-font}Inter-ExtraBoldItalic.woff2) format("woff2"),
         url(#{$inter-font}Inter-ExtraBoldItalic.woff) format("woff"),
         url(#{$inter-font}Inter-ExtraBoldItalic.ttf) format("ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url(#{$inter-font}Inter-Black.woff2) format("woff2"),
         url(#{$inter-font}Inter-Black.woff) format("woff"),
         url(#{$inter-font}Inter-Black.ttf) format("ttf");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url(#{$inter-font}Inter-BlackItalic.woff2) format("woff2"),
         url(#{$inter-font}Inter-BlackItalic.woff) format("woff"),
         url(#{$inter-font}Inter-BlackItalic.ttf) format("ttf");
  }