:root {
    --navbar-height: 20rem;
    --sidebar-width: 250px;
}

aside {
    background: #353d47;
    background: linear-gradient(45deg, #353d47, #21292e);
}

aside > .logo{
    position:relative;
    background: linear-gradient(45deg, #363e44, #262e32)
}

aside > div.logo:before{
    content:'';
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:3px;
    background:linear-gradient(45deg, #055efe, #0059ff);
}

aside.aside-expand {
    min-width: 250px;
}

aside ul li {
    @apply mt-8;
}

.app-wrapper {
    width: calc(100vw - var(--sidebar-width));
}

[v-cloak] {
    display: none;
}

#voyager-loader {
    background: #F9F9F9;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}

#voyager-loader .icon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-right: -50px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
