[v-cloak] {
    display: none;
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

h5 {
    @apply text-xl;
}

h6 {
    @apply text-lg;
}

.loader {
    @apply absolute w-full h-full left-0 top-0 z-50;

    .icon {
        @apply absolute w-32 h-32;
        top: 50%;
        left: 50%;
        margin-left: calc(theme('spacing.16') * -1);
        margin-right: calc(theme('spacing.16') * -1);
    }
}

.mode-dark .loader {
    @apply bg-gray-800;
}

.sidebar {
    .item {
        @apply mt-1 flex items-center px-2 py-2 font-medium rounded-md;
    }
}

.search{
    transition: width 0.35s ease-out;
    &:focus{
        width:100%;
    }
}