:root {
    --navbar-height: 20rem;
    --sidebar-width: 250px;
}

[v-cloak] {
    display: none;
}

body {
    @apply text-gray-700;

    font-family: Inter;
}

.mode-dark body {
    @apply text-gray-300 bg-gray-900;
}

a {
    @apply text-blue-600;
}

.loader {
    @apply absolute bg-gray-100 w-full h-full left-0 top-0 z-50;

    .icon {
        @apply absolute w-32 h-32;
        top: 50%;
        left: 50%;
        margin-left: calc(theme('spacing.16') * -1);
        margin-right: calc(theme('spacing.16') * -1);
    }
}

.mode-dark .loader {
    @apply bg-gray-800;
}

.search{
    transition: width 0.35s ease-out;
    &:focus{
        width:100%;
    }
}