@use "sass:map";

// PRIMARY COLOR
$primary-accent-color            : 'blue-500' !default;
$primary-accent-color-dark       : 'blue-500' !default;

// BACKGROUND
$background-color               : 'bg-gray-100' !default;
$background-color-dark          : 'bg-gray-900' !default;
$border-color                   : 'border-gray-400' !default;
$border-color-dark              : 'border-gray-700' !default;
$font-family                    : Inter, system-ui !default;

// LOADER
$loader-background-color        : 'bg-gray-100' !default;
$loader-text-color              : 'text-black' !default;
$loader-background-color-dark   : 'bg-gray-800' !default;
$loader-text-color-dark         : 'text-gray-200' !default;

// TEXT COLOR
$primary-text-color             : 'text-gray-700' !default;
$primary-text-color-dark        : 'text-gray-300' !default;

// LINK COLOR
$link-text-color                : 'text-blue-600' !default;
$link-text-color-dark           : 'text-blue-600' !default;

// INPUTS
$input-background-color      : 'bg-white' !default;
$input-disabled-color        : 'bg-gray-200' !default;
$input-border-color          : 'border-gray-400' !default;
$input-text-color            : 'text-gray-800' !default;

$input-background-color-dark : 'bg-gray-700' !default;
$input-disabled-color-dark   : 'bg-gray-800' !default;
$input-border-color-dark     : 'border-gray-600' !default;
$input-text-color-dark       : 'text-gray-200' !default;

// SIDEBAR
$sidebar-title-color            : 'text-gray-200' !default;
$sidebar-icon-color             : 'text-gray-200' !default;
$sidebar-background-color       : 'bg-gray-800' !default;
$sidebar-sub-background-color   : 'bg-gray-850' !default;
$sidebar-item-text-color        : 'text-gray-300' !default;
$sidebar-item-icon-color        : 'text-gray-300' !default;
$sidebar-item-active-background : 'bg-gray-700' !default;
$sidebar-item-active-text-color : 'text-gray-300' !default;
$sidebar-item-active-icon-color : 'text-gray-300' !default;
$sidebar-item-hover-background  : 'bg-gray-600' !default;
$sidebar-border-color           : 'border-gray-600' !default;

$sidebar-title-color-dark            : 'text-gray-200' !default;
$sidebar-icon-color-dark             : 'text-gray-200' !default;
$sidebar-background-color-dark       : 'bg-gray-800' !default;
$sidebar-sub-background-color-dark   : 'bg-gray-850' !default;
$sidebar-item-text-color-dark        : 'text-gray-300' !default;
$sidebar-item-icon-color-dark        : 'text-gray-300' !default;
$sidebar-item-active-background-dark : 'bg-gray-900' !default;
$sidebar-item-active-text-color-dark : 'text-gray-200' !default;
$sidebar-item-active-icon-color-dark : 'text-gray-200' !default;
$sidebar-item-hover-background-dark  : 'bg-gray-700' !default;
$sidebar-border-color-dark           : 'border-gray-700' !default;

// CARDS
$cards-background-color      : 'bg-white' !default;
$cards-border-color          : 'border-gray-400' !default;
$cards-text-color            : $primary-text-color !default;
$cards-title-text-color      : 'text-gray-700' !default;

$cards-background-color-dark : 'bg-gray-800' !default;
$cards-border-color-dark     : 'border-gray-700' !default;
$cards-text-color-dark       : $primary-text-color-dark !default;
$cards-title-text-color-dark : 'text-gray-300' !default;

// NOTIFICATIONS
$notification-background-color:         'bg-white' !default;
$notification-title-color:              'text-gray-900' !default;
$notification-message-color:            'text-gray-500' !default;

$notification-background-color-dark:    'bg-gray-800' !default;
$notification-title-color-dark:         'text-gray-100' !default;
$notification-message-color-dark:       'text-gray-500' !default;

// LABELS
$label-text-color            : 'text-gray-800' !default;
$label-text-color-dark       : 'text-gray-200' !default;
$description-text-color      : 'text-gray-800' !default;
$description-text-color-dark : 'text-gray-200' !default;

// TABLE COLORS
$table-background-color                     : 'bg-white' !default;
$table-border-color                         : 'border-gray-300' !default;
$table-head-background-color                : 'bg-gray-100' !default;
$table-head-text-color                      : 'text-black' !default;
$table-row-even-background-color            : 'bg-gray-50' !default;
$table-row-odd-background-color             : 'bg-gray-100' !default;
$table-row-even-background-color-hover      : 'bg-gray-150' !default;
$table-row-odd-background-color-hover       : 'bg-gray-200' !default;
$table-row-border-color                     : 'border-gray-300' !default;

$table-background-color-dark                : 'bg-gray-800' !default;
$table-border-color-dark                    : 'border-gray-650' !default;
$table-head-background-color-dark           : 'bg-gray-700' !default;
$table-head-text-color-dark                 : 'text-gray-400' !default;
$table-row-even-background-color-dark       : 'bg-gray-800' !default;
$table-row-odd-background-color-dark        : 'bg-gray-750' !default;
$table-row-even-background-color-hover-dark : 'bg-gray-700' !default;
$table-row-odd-background-color-hover-dark  : 'bg-gray-650' !default;
$table-row-border-color-dark                : 'border-gray-650' !default;

html {
    font-family: #{$font-family};
}

body {
    @apply #{$background-color} #{$primary-text-color};
}

.mode-dark body {
    @apply #{$background-color-dark} #{$primary-text-color-dark};
}


a {
    @apply #{$link-text-color};
}

mode-dark a {
    @apply #{$link-text-color-dark};
}

// LOADER
.loader {
    @apply #{$loader-background-color} #{$loader-text-color};
}

.mode-dark .loader {
    @apply #{$loader-background-color-dark} #{$loader-text-color-dark};
}

// INPUTS
.mode-dark {
    textarea, select, input.voyager-input {
        @apply #{$input-background-color-dark} #{$input-border-color-dark} #{$input-text-color-dark};

        &:disabled {
            @apply #{$input-disabled-color-dark};
        }
    }
}

textarea, select, input.voyager-input {
    @apply #{$input-background-color} #{$input-border-color} #{$input-text-color};

    &:focus {
        @apply border-#{$primary-accent-color};
    }

    &:disabled {
        @apply #{$input-disabled-color};
    }

    &[type=checkbox] {
        &:checked {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
            background-color: currentColor;
            background-size: 100% 100%;
            background-position: center;

            @apply bg-no-repeat border-transparent bg-#{$primary-accent-color};

            &:checked:focus {
                @apply border-transparent;
            }
        }
    }

    &[type=radio] {
        @apply text-#{$primary-accent-color};

        &:checked {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
            background-color: currentColor;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;

            &:checked:focus {
                @apply border-transparent;
            }
        }
    }
}

select.voyager-input {
    @apply bg-no-repeat pr-10;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
}

.sidebar {
    @apply #{$sidebar-background-color};

    .title {
        @apply #{$sidebar-title-color};
    }
    .icon {
        @apply #{$sidebar-icon-color};
    }

    .menuitem {
        .item {
            .link {
                @apply #{$sidebar-item-text-color};
            }

            &:hover {
                @apply #{$sidebar-item-hover-background};
            }

            &.active {
                @apply #{$sidebar-item-active-background};

                .link {
                    @apply #{$sidebar-item-active-text-color};
                }

                .icon {
                    @apply #{$sidebar-item-active-icon-color};
                }
            }

            .icon {
                @apply #{$sidebar-item-icon-color};
            }
        }

        .submenu {
            @apply #{$sidebar-sub-background-color};
        }
    }

    .sidebar-border {
        @apply #{$sidebar-border-color};
    }
}

.mode-dark .sidebar {
    @apply #{$sidebar-background-color-dark};

    .title {
        @apply #{$sidebar-title-color-dark};
    }
    .icon {
        @apply #{$sidebar-icon-color-dark};
    }

    .menuitem {
        .item {
            .link {
                @apply #{$sidebar-item-text-color-dark};
            }

            &:hover {
                @apply #{$sidebar-item-hover-background-dark};
            }

            &.active {
                @apply #{$sidebar-item-active-background-dark};

                .link {
                    @apply #{$sidebar-item-active-text-color-dark};
                }

                .icon {
                    @apply #{$sidebar-item-active-icon-color-dark};
                }
            }

            .icon {
                @apply #{$sidebar-item-icon-color-dark};
            }
        }

        .submenu {
            @apply #{$sidebar-sub-background-color-dark};
        }
    }

    .sidebar-border {
        @apply #{$sidebar-border-color-dark};
    }
}

// CARDS
.mode-dark .card {
    @apply #{$cards-background-color-dark} #{$cards-border-color-dark} #{$cards-text-color-dark};

    .header {
        @apply #{$cards-border-color-dark};

        h3 {
            @apply #{$cards-title-text-color-dark};
        }
    }

    .footer {
        @apply #{$cards-border-color-dark};
    }
}

.card {
    @apply #{$cards-background-color} #{$cards-border-color} #{$cards-text-color};

    .header {
        @apply #{$cards-border-color};

        h3 {
            @apply #{$cards-title-text-color};
        }
    }

    .footer {
        @apply #{$cards-border-color};
    }
}

// NOTIFICATIONS
.mode-dark .notifications {
    .notification {
        @apply #{$notification-background-color-dark};

        p.title {
            @apply #{$notification-title-color-dark};
        }

        p.message {
            @apply #{$notification-message-color-dark};
        }
    }
}

.notifications {
    .notification {
        @apply #{$notification-background-color};

        p.title {
            @apply #{$notification-title-color};
        }

        p.message {
            @apply #{$notification-message-color};
        }
    }
}

// DROPDOWN
.mode-dark .dropdown .body {
    @apply #{$background-color-dark} #{$border-color-dark};

    .links {
        @apply #{$border-color-dark};
    }
}

.dropdown .body {
    @apply #{$background-color} #{$border-color};

    .links {
        @apply #{$border-color};
    }
}

// SLIDEIN
// TODO: Make this a variable
.slidein {
    @apply #{$primary-text-color-dark};
}

// LABELS
.mode-dark .label {
    @apply #{$label-text-color-dark};
}

.label {
    @apply #{$label-text-color};
}

.mode-dark p {
    &.description {
        @apply #{$description-text-color-dark};
    }
}

p {
    &.description {
        @apply #{$description-text-color};
    }
}

// TABLE
.mode-dark .voyager-table {
    @apply #{$table-background-color-dark} #{$table-border-color-dark};

    &.striped {
        table > tbody > tr {
            &:nth-of-type(even) {
                @apply #{$table-row-even-background-color-dark};
                &:hover {
                    @apply #{$table-row-even-background-color-hover-dark};
                }
            }
            &:nth-of-type(odd) {
                @apply #{$table-row-odd-background-color-dark};
                &:hover {
                    @apply #{$table-row-odd-background-color-hover-dark};
                }
            }
        }
    }

    table {
        thead {
            @apply #{$table-head-background-color};
            > tr > th {
                @apply #{$table-border-color-dark} #{$table-background-color-dark} #{$table-head-text-color-dark};
            }
        }
    
        tbody {    
            tr > td {
                @apply #{$table-row-border-color-dark};
            }
        }
    }
}

.voyager-table {
    @apply #{$table-background-color} #{$table-border-color};

    &.striped {
        table > tbody > tr {
            &:nth-of-type(even) {
                @apply #{$table-row-even-background-color};
                &:hover {
                    @apply #{$table-row-even-background-color-hover};
                }
            }
            &:nth-of-type(odd) {
                @apply #{$table-row-odd-background-color};
                &:hover {
                    @apply #{$table-row-odd-background-color-hover};
                }
            }
        }
    }

    table {
        thead {
            @apply #{$table-head-background-color};

            > tr > th {
                @apply #{$table-border-color} #{$table-background-color}  #{$table-head-text-color};
            }
        }
    
        tbody {    
            tr > td {
                @apply #{$table-row-border-color};
            }
        }
    }
}