body.login {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -webkit-background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;

    .login-sidebar {
        min-height:100vh;
        position:relative;
        border-radius:5px;
        z-index:2;
        justify-content:center;
        background:#ffffff;
        border-top: 5px solid #22A7F0;
        border-radius: 0px;
    }

    .login-sidebar:after {
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        content:"";
        opacity:0.8;
        z-index:3;
    }

    .login-container{
        position: absolute;
        z-index: 10;
        width: 100%;
        padding: 0 40px 0 20px;
        top: 50%;
        margin-top: -150px;
    }

    .login-container p{
        text-align: left;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 3px;
        color: #757C85;
        font-family: 'Open Sans', sans-serif;
        border-radius: 2px;
        font-size: 10px;
        text-transform: uppercase;
        width: auto;
        padding-left:2px;
    }

    .login-container form{
        padding-top:15px;
    }

    .login-container .voyager-refresh{
        top:0px;
        font-size:10px;
    }

    .login-container .hidden{
        display:none;
    }

    .login-container .signingin .voyager-refresh{
        top: 1px;
        left: 0px;
        -webkit-transform-origin: 43% 40%;
        transform-origin: 43% 40%;
        -ms-transform-origin: 43% 40%;
        display: inline-block;
        position: relative;
    }

    .logo-title-container{
        position: fixed;
        width: 100%;
        bottom: 0px;
        margin-top: -100px;
        left: 30px;
    }

    .logo-container {
        text-align:center;
        position:relative;
        z-index: 10;
        opacity:0.8;
    }

    .logo{
        height: auto;
        max-width: 52px;
        margin: 0 auto;
        padding-top:55px;
        padding-bottom: 20px;
    }

    .logo-container .logo{
        padding:50px 0px;
    }


    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(359deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(359deg); }
    }
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(359deg);}
    }

    .span-input{
        margin-left:10px;
        position:relative;
        top: -3px;
        font-size: 15px;
    }

    .copy {
        width: auto;
        padding: 30px;
        padding-bottom:12px;
    }

    .copy h1 {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        z-index: 9999;
        position: relative;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        top: 0px;
        line-height: 45px;
        margin: 20px 0 0 20px;
        margin-left:14px;
    }

    .copy p {
        color: #fff;
        font-size: 13px;
        max-width: 650px;
        opacity: .9;
        position: relative;
        z-index: 99;
        font-weight: 300;
        margin-top: 0;
        left: 15px;
        position:relative;
        top:-8px;
    }

    .faded-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(50, 50, 50, 0.5);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15151c+75,15151c+100&0+0,0.1+40,0.3+55,1+100 */
        background: -moz-linear-gradient(top, rgba(21,21,28,0) 0%, rgba(21,21,28,0.1) 40%, rgba(21,21,28,0.3) 55%, rgba(21,21,28,0.61) 75%, rgba(21,21,28,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(21,21,28,0) 0%,rgba(21,21,28,0.1) 40%,rgba(21,21,28,0.3) 55%,rgba(21,21,28,0.61) 75%,rgba(21,21,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(21,21,28,0) 0%,rgba(21,21,28,0.1) 40%,rgba(21,21,28,0.3) 55%,rgba(21,21,28,0.61) 75%,rgba(21,21,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0015151c', endColorstr='#15151c',GradientType=0 ); /* IE6-9 */
    }

    .voyager-refresh {
        -webkit-animation:spin 0.6s infinite linear;
        -moz-animation:spin 0.6s infinite linear;
        animation:spin 0.6s infinite linear;
    }
    
    .alert-black {
        background: rgba(0, 0, 0, 0.5);
        color: rgb(255, 255, 255);
        position: relative;
        z-index: 10;
        margin-top: 20px;
    }

    .alert-red{
        background: #e74c3c;
        border-left: 5px solid rgba(0, 0, 0, 0.1);
        font-size: 12px;
        color: rgb(255, 255, 255);
        position: relative;
        z-index: 10;
        margin-top: 20px;
    }

    .form-floating:focus {
        outline: 0!important;
        box-shadow: none;
    }

    .form-floating:focus::-webkit-input-placeholder{
        color:#8c9bA6;
    }

    .form-floating:focus::-moz-placeholder{
        color:#8c9bA6;
    }

    .form-floating:focus:-ms-input-placeholder{
        color:#8c9bA6;
    }

    .form-floating:focus:-moz-placeholder{
        color:#8c9bA6;
    }
}
