/********** VOYAGER THEME CSS *********/

/*
 * Skin: Voyager
 * ----------
 */
html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 1.57142857;
    color: #76838f;
    background-color: #fff;
}

.voyager {
  background-color: #f9f9f9;
  /* small screen */
}

.voyager .app-footer {
  opacity: 0.7;
  color: #353d47;
  width: 100%;
  text-align: right;
  padding: 10px 0;
  background: #fff;
  left: 0px;
}

.voyager .app-footer i {
  color: #d9534f;
  position: relative;
  top: 2px;
}

.voyager .navbar,
.voyager .navbar.navbar-default {
  border-bottom: 0;
  box-shadow: 0 0 0;
  background: rgba(250, 250, 250, 0.9);
}

.voyager .navbar > .container-fluid,
.voyager .navbar.navbar-default > .container-fluid:after {
  border-bottom: 1px solid #eee;
  width: 99.5%;
  height: 1px;
}

.voyager .expanded .navbar > .container-fluid,
.voyager .expanded .navbar.navbar-default > .container-fluid:after {
  border-bottom: 0px;
}

.voyager .navbar .navbar-header .navbar-brand,
.voyager .navbar.navbar-default .navbar-header .navbar-brand {
  color: #f9f9f9;
}

.voyager .navbar .navbar-header .navbar-expand-toggle,
.voyager .navbar.navbar-default .navbar-header .navbar-expand-toggle {
  color: #353d47;
}

.voyager .navbar .navbar-header .navbar-right-expand-toggle,
.voyager .navbar.navbar-default .navbar-header .navbar-right-expand-toggle {
  color: #353d47;
}

.voyager .navbar .navbar-breadcrumb li,
.voyager .navbar.navbar-default .navbar-breadcrumb li {
  color: #353d47;
}

.voyager .navbar .navbar-breadcrumb li a,
.voyager .navbar.navbar-default .navbar-breadcrumb li a {
  color: #353d47;
}

.voyager .navbar .navbar-nav > li,
.voyager .navbar.navbar-default .navbar-nav > li {
  border-left: 1px solid #f9f9f9;
}

.voyager .navbar .navbar-nav > li.profile,
.voyager .navbar.navbar-default .navbar-nav > li.provile {
  border-left: 0px;
}

.voyager .navbar .navbar-nav > li > a,
.voyager .navbar.navbar-default .navbar-nav > li > a {
  color: #353d47;
}

.voyager .navbar .navbar-nav > li:hover > a,
.voyager .navbar.navbar-default .navbar-nav > li:hover > a {
  color: #22a7f0;
}

.voyager .navbar .navbar-nav > li.open > a,
.voyager .navbar.navbar-default .navbar-nav > li.open > a {
  background-color: transparent;
  color: #22a7f0;
}

.voyager .navbar .navbar-nav > li.danger > a,
.voyager .navbar.navbar-default .navbar-nav > li.danger > a {
  background-color: transparent;
  border-bottom: 4px solid #fa2a00;
  color: #fa2a00;
}

.voyager .navbar .navbar-nav > li.danger.open > a,
.voyager .navbar.navbar-default .navbar-nav > li.danger.open > a {
  background-color: #fa2a00;
  color: #fff;
}

.voyager .navbar .navbar-nav .dropdown-menu,
.voyager .navbar.navbar-default .navbar-nav .dropdown-menu {
  background-color: #f9f9f9;
  border-color: #e4e4e4;
}

.voyager .navbar .navbar-nav .dropdown-menu .title,
.voyager .navbar.navbar-default .navbar-nav .dropdown-menu .title {
  background-color: #fff;
}

.voyager .navbar .navbar-nav .dropdown-menu .title .badge,
.voyager .navbar.navbar-default .navbar-nav .dropdown-menu .title .badge {
  background-color: #353d47;
}

.voyager .navbar .navbar-nav .dropdown-menu.danger,
.voyager .navbar.navbar-default .navbar-nav .dropdown-menu.danger {
  border-color: #fa2a00;
}

.voyager .navbar .navbar-nav .dropdown-menu.danger .title,
.voyager .navbar.navbar-default .navbar-nav .dropdown-menu.danger .title {
  background-color: #fa2a00;
  color: #fff;
}

.voyager .navbar .navbar-nav .dropdown-menu.danger .title .badge,
.voyager
  .navbar.navbar-default
  .navbar-nav
  .dropdown-menu.danger
  .title
  .badge {
  background-color: #fff;
  color: #fa2a00;
}

.voyager .navbar.navbar-inverse {
  background-color: #353d47;
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.voyager .navbar.navbar-inverse > .container-fluid {
  background-color: #353d47;
}

.voyager .navbar.navbar-inverse .navbar-header .navbar-brand {
  color: #f9f9f9;
}

.voyager .navbar.navbar-inverse .navbar-header .navbar-expand-toggle {
  color: #fff;
}

.voyager .navbar.navbar-inverse .navbar-header .navbar-right-expand-toggle {
  color: #fff;
}

.voyager .navbar.navbar-inverse .navbar-breadcrumb li {
  color: #fff;
}

.voyager .navbar.navbar-inverse .navbar-breadcrumb li a {
  color: #fff;
}

.voyager .navbar.navbar-inverse .navbar-nav > li {
  border-left: 1px solid #363c46;
}

.voyager .navbar.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.voyager .navbar.navbar-inverse .navbar-nav > li:hover > a {
  color: #22a7f0;
}

.voyager .navbar.navbar-inverse .navbar-nav > li.open > a {
  background-color: transparent;
  color: #22a7f0;
}

.voyager .navbar.navbar-inverse .navbar-nav > li.danger > a {
  background-color: transparent;
  border-bottom: 4px solid #fa2a00;
  color: #fff;
}

.voyager .navbar.navbar-inverse .navbar-nav > li.danger.open > a {
  background-color: #fa2a00;
}

.voyager .navbar.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: #f9f9f9;
  border-color: #353d47;
}

.voyager .navbar.navbar-inverse .navbar-nav .dropdown-menu .title {
  background-color: #fff;
}

.voyager .navbar.navbar-inverse .navbar-nav .dropdown-menu .title .badge {
  background-color: #353d47;
}

.voyager .navbar.navbar-inverse .navbar-nav .dropdown-menu.danger {
  border-color: #fa2a00;
}

.voyager .navbar.navbar-inverse .navbar-nav .dropdown-menu.danger .title {
  background-color: #fa2a00;
  color: #fff;
}

.voyager
  .navbar.navbar-inverse
  .navbar-nav
  .dropdown-menu.danger
  .title
  .badge {
  background-color: #fff;
  color: #fa2a00;
}

.voyager .side-menu {
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
}

.voyager .side-menu .navbar-header {
  background-color: #22a7f0;
  margin-bottom: 4px;
}

.voyager .side-menu .navbar-header .navbar-brand {
  color: #19b5fe;
}

.voyager .side-menu .navbar-nav {
  width: 100%;
}

.voyager .side-menu .navbar {
  background-color: #fff;
  border-bottom: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.voyager .side-menu .navbar li > a {
  color: #363c46;
}

.voyager .side-menu .navbar li.active {
  border-left: 0;
}

.voyager .side-menu .navbar li.active > a {
  border-right: 4px solid #22a7f0;
  background-color: #fff;
}

.voyager .side-menu .navbar > li:hover > a {
  background-color: #fa2a00;
  color: #fff;
}

.voyager .side-menu .navbar li.dropdown {
  background-color: transparent;
}

.voyager .side-menu .navbar li.dropdown > .panel-collapse {
  background-color: #e4e4e4;
}

.voyager .side-menu .navbar li.dropdown .panel-body {
  padding: 0 7px;
}

.voyager .side-menu.sidebar-inverse {
  background-color: #353d47;
  box-shadow: 0px 0px 0px;
}

.voyager .side-menu.sidebar-inverse .navbar {
  background-color: #353d47;
  border-bottom: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.voyager .side-menu.sidebar-inverse .navbar li {
  border-left: 0;
}

.voyager .side-menu.sidebar-inverse .navbar li > a {
  color: #fff;
}

.voyager .side-menu.sidebar-inverse .navbar li.active > a {
  color: #353d47;
  border-left: 3px solid #22a7f0;
  border-right: 0 solid #22a7f0;
  background-color: #fff;
  font-weight: 400;
}

.voyager .side-menu.sidebar-inverse .navbar li.active > a .icon {
  margin-left: -3px;
}

.voyager .side-menu.sidebar-inverse .navbar > li:hover > a {
  background-color: #fa2a00;
  color: #fff;
}

.voyager .side-menu.sidebar-inverse .navbar li.dropdown > .panel-collapse {
  background-color: rgba(0, 0, 0, 0.1);
}

.voyager .side-menu.sidebar-inverse .navbar li.dropdown .panel-body {
  padding: 0 7px;
}

@media (max-width: 768px) {
  .voyager .navbar.navbar-default .navbar-nav > li {
    border-left: 0;
  }
  .voyager .navbar.navbar-default .navbar-right {
    background-color: #fff;
  }
  .voyager .navbar.navbar-inverse .navbar-nav > li {
    border-left: 0;
  }
  .voyager .navbar.navbar-inverse .navbar-right {
    background-color: #353d47;
  }
}

.voyager .card.red {
  background-color: #fa2a00;
  color: #fff;
}

.voyager .card.yellow {
  background-color: #ffb400;
  color: #fff;
}

.voyager .card.green {
  background-color: #1abc9c;
  color: #fff;
}

.voyager .card.blue {
  background-color: #22a7f0;
  color: #fff;
}

.voyager .card.dark {
  background-color: #353d47;
  color: #fff;
}

.voyager .card.red,
.voyager .card.yellow,
.voyager .card.green,
.voyager .card.blue,
.voyager .card.dark {
  border: 0;
}

.voyager .card.red .card-header,
.voyager .card.yellow .card-header,
.voyager .card.green .card-header,
.voyager .card.blue .card-header,
.voyager .card.dark .card-header {
  border-bottom: 0;
}

.voyager .card.red .card-header .title,
.voyager .card.yellow .card-header .title,
.voyager .card.green .card-header .title,
.voyager .card.blue .card-header .title,
.voyager .card.dark .card-header .title {
  color: #fff;
}

.voyager .card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 0 solid #e4e4e4;
}

.voyager .card .card-header {
  border-bottom: 1px solid #e4e4e4;
}

.voyager .card .card-header .title {
  color: #353d47;
}

.voyager .card .card-body .sub-title {
  border-bottom: 1px solid #eaeaea;
}

.voyager .card .card-header.no-border {
  border-bottom: 0;
}

.voyager .card .card-jumbotron {
  background-color: #eaeaea;
}

.voyager .card.primary .card-jumbotron {
  background-color: #353d47;
  color: #fff;
}

.voyager .card.profile .card-footer {
  border-top: 1px solid #f9f9f9;
}

.voyager .card.summary-inline.red:hover {
  background-color: #7c1a06;
}

.voyager .card.summary-inline.yellow:hover {
  background-color: #85630f;
}

.voyager .card.summary-inline.green:hover {
  background-color: #006551;
}

.voyager .card.summary-inline.blue:hover {
  background-color: #353d47;
}

.voyager .card.summary-inline.dark:hover {
  background-color: #09486b;
}

.voyager .card.card-success .card-header {
  background-color: #1abc9c;
}

.voyager .card.card-success .card-header .title {
  color: #fff;
}

.voyager .card.card-info .card-header {
  background-color: #22a7f0;
}

.voyager .card.card-info .card-header .title {
  color: #fff;
}

.voyager .panel.panel-default {
  border: 1px solid #eaeaea;
}

.voyager .panel.panel-default .panel-heading {
  border-bottom: 1px solid #eaeaea;
  background-color: #f0f0f0;
}

.voyager .panel.panel-primary {
  border: 1px solid #353d47;
}

.voyager .modal.modal-relationships {
  border: 0px;
  h5 {
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  h4 {
    i {
      position: relative;
      top: 2px;
      margin-right: 5px;
    }
  }
  :not(.toggle-group) > label {
    height: 38px;
    background: #f1f1f1;
    padding: 7px 12px;
    font-size: 11px;
    line-height: 23px;
    font-weight: bold;
    margin-bottom: 0px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    &:first-child {
      border-left: 1px solid #eaeaea;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  .panel-body {
    padding-top: 25px;
  }
  &.modal-danger .modal-header,
  .btn-relationship {
    background: #f2435c;
    color: #fff;
  }
  .modal-body {
    background: #ffffff;
    .col-md-12 {
      margin-bottom: 0px;
    }
  }
  .modal-footer {
    background: #f7f7f9;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .well {
    background-color: #f9f9fc;
    border: 1px solid #eaeaea;
  }
  p.relationship-warn {
    text-align: center;
  }

  .relationship_details {
    display: flex;
    &.relationshipPivot {
      display: none;
    }
    .hasOneMany.flexed,
    .belongsTo.flexed {
      display: flex;
    }
    .hasOneMany,
    .belongsTo {
      width: 100%;
      display: none;
      label {
        span {
          color: #444;
        }
      }
    }
    &.col-md-12 {
      margin-bottom: 20px;
    }
    p {
      float: left;
      padding: 6px 10px;
      background: #fff;
      line-height: 22px;
      margin-right: 0;
      border: 1px solid #eaeaea;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      color: #333;
      margin-bottom: 0;
      border-right: 0px;
      &.flex {
        display: flex;
        border-radius: 0px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 1px solid #eaeaea;
        padding-right: 10px;
        span {
          margin-left: 4px;
          margin-right: 5px;
          line-height: 24px;
        }
        input {
          position: relative;
          top: 3px;
        }
      }
      &.relationship_table_select {
        background: #efefef;
        color: #76838f;
        font-weight: bold;
        font-size: 12px;
        padding-top: 8px;
        select {
          margin-left: 5px;
        }
      }
    }
    span.label_table_name {
      display: inline-block;
    }
    .relationship_type + span {
      font-weight: bold;
    }
    select {
      border: 1px solid #f1f1f1;
      margin-left: 10px;
    }
    .select2 {
      flex: 1;
      border: 1px solid #eaeaea;
      border-right: 0px;
      margin-right: 0px;
      height: 38px;
      .select2-selection {
        border-radius: 5px;
        border: 0px;
      }
    }
    .select2:last-child {
      border-right: 1px solid #eaeaea;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 4px;
    }
    .form-control {
      border-radius: 0px;
      height: 38px;
      flex: 1;
      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
  .relationship_details_more {
    position: relative;
    margin-bottom: 0px;

    :not(.toggle-group) > label {
      height: 38px;
      background: #f1f1f1;
      padding: 7px 12px;
      font-size: 11px;
      line-height: 23px;
      font-weight: 700;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      border: 0px;
    }
    .select2-container--default .select2-selection--single {
      border: 1px solid #f1f1f1;
    }
    .relationship_taggable {
      display: none;
    }
    .well {
      position: relative;
      padding-top: 55px;
      margin-bottom: 5px;
      background: none;
      border: 1px solid #f1f1f1;
    }
  }
}

.btn-new-relationship {
  background: #f2435c;
  border: 1px solid #f2435c;
  color: #fff;
  &:hover {
    color: #fff;
  }
  i {
    position: relative;
    top: 2px;
  }
}

.relationship-btn-container {
  .btn {
    i {
      position: relative;
      top: 2px;
    }
  }
}

.voyager .panel.panel-primary .panel-heading {
  border-bottom: 1px solid #353d47;
  background-color: #73849d;
  color: #fff;
}

.voyager .panel.panel-success {
  border: 1px solid #1abc9c;
}

.voyager .panel.panel-success .panel-heading {
  border-bottom: 1px solid #1abc9c;
  background-color: #99e9d9;
  color: #006551;
}

.voyager .panel.panel-info {
  border: 1px solid #22a7f0;
}

.voyager .panel.panel-info .panel-heading {
  border-bottom: 1px solid #22a7f0;
  background-color: #91d5fb;
  color: #09486b;
}

.voyager .panel.panel-warning {
  border: 1px solid #fabe28;
}

.voyager .panel.panel-warning .panel-heading {
  border-bottom: 1px solid #fabe28;
  background-color: #ffe5a2;
  color: #85630f;
}

.voyager .panel.panel-danger {
  border: 1px solid #fb927d;
}

.voyager .panel.panel-danger .panel-heading {
  border-bottom: 1px solid #fb927d;
  background-color: #ffb8aa;
  color: #7c1a06;
}

.voyager .panel.fresh-color.panel-primary {
  border: 1px solid #353d47;
}

.voyager .panel.fresh-color.panel-primary .panel-heading {
  border-bottom: 1px solid #353d47;
  background-color: #353d47;
  color: #fff;
}

.voyager .panel.fresh-color.panel-success {
  border: 1px solid #1abc9c;
}

.voyager .panel.fresh-color.panel-success .panel-heading {
  border-bottom: 1px solid #1abc9c;
  background-color: #1abc9c;
  color: #fff;
}

.voyager .panel.fresh-color.panel-info {
  border: 1px solid #22a7f0;
}

.voyager .panel.fresh-color.panel-info .panel-heading {
  border-bottom: 1px solid #22a7f0;
  background-color: #22a7f0;
  color: #fff;
}

.voyager .panel.fresh-color.panel-warning {
  border: 1px solid #fabe28;
}

.voyager .panel.fresh-color.panel-warning .panel-heading {
  border-bottom: 1px solid #fabe28;
  background-color: #fabe28;
  color: #fff;
}

.voyager .panel.fresh-color.panel-danger {
  border: 1px solid #fa2a00;
}

.voyager .panel.fresh-color.panel-danger .panel-heading {
  border-bottom: 1px solid #fa2a00;
  background-color: #fa2a00;
  color: #fff;
}

.voyager .btn.btn-default {
  background-color: #f0f0f0;
  border-color: #eaeaea;
}

.voyager .btn.btn-default:hover {
  background-color: #eaeaea;
}

.voyager .btn.btn-success {
  background: #2ecc71;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  opacity: 0.9;
}

.voyager .btn.btn-success:hover {
  opacity: 1;
}

.voyager .btn.btn-warning {
  background: #f39c12;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  opacity: 0.9;
}

.voyager .btn.btn-warning:hover {
  opacity: 1;
}

.voyager .btn.btn-info {
  background-color: #22a7f0;
  color: #fff;
  border-color: #22a7f0;
}

.voyager .btn.btn-sm.btn-info {
  background: #22a7f0;
}

.voyager .btn.btn-danger {
  background: #fa2a00;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  opacity: 0.9;
}

.voyager .btn.btn-danger:hover {
  opacity: 1;
}

.voyager .btn.btn-link {
  color: #353d47;
}

.voyager .progress .progress-bar {
  background-color: #353d47;
  color: #fff;
}

.voyager .progress .progress-bar.progress-bar-success {
  background-color: #1abc9c;
}

.voyager .progress .progress-bar.progress-bar-info {
  background-color: #22a7f0;
}

.voyager .progress .progress-bar.progress-bar-warning {
  background-color: #fabe28;
}

.voyager .progress .progress-bar.progress-bar-danger {
  background-color: #fa2a00;
}

.voyager .color-white {
  color: #fff;
}

.voyager .pagination > li > a {
  color: #353d47;
}

.voyager .pagination .active > a,
.voyager .pagination .active > a:focus,
.voyager .pagination .active > a:hover,
.voyager .pagination .active span,
.voyager .pagination .active > span:focus,
.voyager .pagination .active > span:hover {
  background-color: #353d47;
  border-color: #353d47;
  color: #fff;
}

.voyager .modal.modal-primary .modal-header {
  background-color: #353d47;
  color: #fff;
}

.voyager .modal.modal-success .modal-header {
  background-color: #1abc9c;
  color: #fff;
}

.voyager .modal.modal-info .modal-header {
  background-color: #22a7f0;
  color: #fff;
}

.voyager .modal.modal-warning .modal-header {
  background-color: #fabe28;
  color: #fff;
}

.voyager .modal.modal-danger .modal-header {
  background-color: #fa2a00;
  color: #fff;
}

.voyager .alert.alert-success {
  background-color: #99e9d9;
  color: #006551;
  border-color: #1abc9c;
}

.voyager .alert.alert-success .alert-link {
  color: #006551;
  text-decoration: underline;
}

.voyager .alert.alert-success .btn-link {
  color: #006551;
}

.voyager .alert.alert-info {
  background-color: #91d5fb;
  color: #09486b;
  border-color: #22a7f0;
}

.voyager .alert.alert-info .alert-link {
  color: #09486b;
  text-decoration: underline;
}

.voyager .alert.alert-info .btn-link {
  color: #09486b;
}

.voyager .alert.alert-warning {
  background-color: #ffe5a2;
  border-color: #fabe28;
  color: #85630f;
}

.voyager .alert.alert-warning .alert-link {
  color: #85630f;
  text-decoration: underline;
}

.voyager .alert.alert-warning .btn-link {
  color: #85630f;
}

.voyager .alert.alert-danger {
  background-color: #ffb8aa;
  border-color: #fb927d;
  color: #7c1a06;
}

.voyager .alert.alert-danger .alert-link {
  color: #7c1a06;
  text-decoration: underline;
}

.voyager .alert.alert-danger .btn-link {
  color: #7c1a06;
}

.voyager .alert.fresh-color {
  color: #fff;
}

.voyager .alert.fresh-color .alert-link {
  color: #fff;
  text-decoration: underline;
}

.voyager .alert.fresh-color .btn-link {
  color: #fff;
}

.voyager .alert.fresh-color.alert-success {
  background-color: #1abc9c;
}

.voyager .alert.fresh-color.alert-info {
  background-color: #22a7f0;
}

.voyager .alert.fresh-color.alert-warning {
  background-color: #fabe28;
}

.voyager .alert.fresh-color.alert-danger {
  background-color: #fa2a00;
  border-color: #fa2a00;
}

.voyager .list-group .list-group-item.active {
  background-color: #353d47;
  color: #fff;
  border-color: #353d47;
}

.voyager .list-group .list-group-item.active .badge {
  color: #353d47;
}

.voyager .list-group .list-group-item.list-group-item-success {
  background-color: #99e9d9;
  color: #006551;
  border-color: #99e9d9;
}

.voyager .list-group .list-group-item.list-group-item-success .badge {
  background-color: #fff;
  color: #1abc9c;
}

.voyager .list-group .list-group-item.list-group-item-info {
  background-color: #91d5fb;
  color: #09486b;
  border-color: #91d5fb;
}

.voyager .list-group .list-group-item.list-group-item-info .badge {
  background-color: #fff;
  color: #22a7f0;
}

.voyager .list-group .list-group-item.list-group-item-warning {
  background-color: #ffe5a2;
  color: #85630f;
  border-color: #ffe5a2;
}

.voyager .list-group .list-group-item.list-group-item-warning .badge {
  background-color: #fff;
  color: #fabe28;
}

.voyager .list-group .list-group-item.list-group-item-danger {
  background-color: #ffb8aa;
  color: #7c1a06;
  border-color: #ffb8aa;
}

.voyager .list-group .list-group-item.list-group-item-danger .badge {
  background-color: #fff;
  color: #fa2a00;
}

.voyager .bootstrap-switch {
  border-color: #eaeaea;
}

.voyager .bootstrap-switch .bootstrap-switch-primary {
  background-color: #353d47;
}

.voyager .table .active td,
.voyager .table .active th {
  background-color: #eaeaea;
}

.voyager .table .success {
  color: #006551;
}

.voyager .table .success td,
.voyager .table .success th {
  background-color: #99e9d9;
}

.voyager .table .info {
  color: #09486b;
}

.voyager .table .info td,
.voyager .table .info th {
  background-color: #91d5fb;
}

.voyager .table .warning {
  color: #85630f;
}

.voyager .table .warning td,
.voyager .table .warning th {
  background-color: #ffe5a2;
}

.voyager .table .danger {
  color: #7c1a06;
}

.voyager .table .danger td,
.voyager .table .danger th {
  background-color: #ffb8aa;
}

.voyager .table > tbody > tr > td,
.voyager .table > tbody > tr > th,
.voyager .table > tfoot > tr > td,
.voyager .table > tfoot > tr > th {
  border-color: #eaeaea;
}

.voyager .table > thead > tr > th {
  border-color: #eaeaea;
  background: #f8fafc;
}

.voyager .table.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fdfdfd;
}

.voyager .login-box .login-form .login-header {
  color: #fff;
}

.voyager .login-box .login-form .login-body {
  background-color: #fff;
}

.voyager .login-box input {
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
}

.voyager .login-box .login-footer a {
  color: #fff;
}

.voyager .login-box .login-footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.voyager .badge.primary {
  background-color: #353d47;
}

.voyager .badge.success {
  background-color: #1abc9c;
}

.voyager .badge.info {
  background-color: #22a7f0;
}

.voyager .badge.warning {
  background-color: #fabe28;
}

.voyager .badge.danger {
  background-color: #fa2a00;
}

.voyager .nav-tabs {
  background-color: #eaeaea;
}

.voyager .nav-tabs > li > a:hover {
  background-color: #eaeaea;
}

.voyager .nav-tabs > li.active > a:hover {
  background-color: #fff;
}

.alert .close {
  position: relative;
  right: -31px;
  top: -16px;
  padding: 13px;
  background: #333;
  border-radius: 2px;
}

.login-box,
.register-box {
  position: absolute;
  top: 50%;
  margin-top: -250px;
  margin-left: 30px;
  margin-right: 30px;
}

.login-box img {
  width: 50px;
  height: 50px;
  margin: 0px auto;
  display: block;
  -webkit-animation: spinnerRotate 900ms ease-out both;
  animation: spinnerRotate 900ms ease-out both;
}

.main-header .logo .logo-mini img {
  width: 25px;
  height: 25px;
}

.main-header .logo .logo-lg img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.form-control {
  border-radius: 3px;
}

.form-control.json {
  border: 2px solid #ddd;
  border-radius: 1px;
}

.content-header a.btn {
  margin-left: 10px;
}

.content-header i {
  margin-right: 3px;
}

.app-container .side-body {
  margin-left: 50px;
  margin-right: 12px;
}

.navbar .navbar-nav > li > a {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
.app-container .content-container .side-body.padding-top {
  padding-top: 62px;
}

.breadcrumb {
  margin-bottom: 0;
  float: left;
  margin-top: 11px;
}

.content-header > .breadcrumb {
  border: 1px solid #f1f1f1;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  display: block;
  margin: 10px auto;
}

.breadcrumb > .active {
  color: #58595f;
  line-height: 24px;
}

.callout {
  font-size: 14px;
}

.content-wrapper {
  background: #fff;
}

table.dataTable {
  margin-top: 0px !important;
}

table a.btn-sm {
  text-decoration: none;
}

.btn-sm i {
  position: relative;
  top: 1px;
  font-size: 12px;
}

.delete,
.restore,
.edit {
  margin-left: 5px;
  cursor: pointer;
}

.user-panel .text-info {
  color: #3b3e44;
}

/********** TINY MCE Edits **********/

.mce-window.mce-in {
  border-radius: 2px;
}

p#the_plugin_name {
  display: none !important;
}

/********** End Tiny MCE Edits **********/

.app-container .content-container .side-menu .navbar-nav li a .icon {
  margin-top: 2px;
  font-size: 18px;
}

.voyager .side-menu.sidebar-inverse .navbar li.active > a .icon {
  margin-left: 0px;
}

.app-container
  .content-container
  .side-menu
  .navbar-header
  .navbar-brand
  .icon {
  font-size: 26px;
  top: 3px;
  position: relative;
}

.app-container
  .content-container
  .side-menu
  .navbar-header
  .navbar-brand
  .logo-icon-container {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand img {
  max-width: 50%;
  max-height: 50%;
  position: relative;
  top: -1px;
  display: inline-block;
}

.page-content.read .panel .panel-body:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

.page-content {
  &.browse {
    .form-search {
      position: relative;
      z-index: 1;
    }
  }
}

.page-content > .row > [class*="col-"]:not(:first-child) {
  padding-left: 8px;
}
.page-content > .row > [class*="col-"]:not(:last-child) {
  padding-right: 8px;
}

.app-container.expanded
  .content-container
  .side-menu
  .navbar-header
  .navbar-brand
  .title {
  position: relative;
  top: 0px;
  left: 4px;
  text-transform: uppercase;
  font-weight: 400;
}

.page-content.dashboard {
  margin-top: 360px;
}

.page-content .settings {
  padding-right: 20px;
}

.page-content.col-md-12 {
  padding-right: 0px;
}

.page-content .form-edit-add ul.permissions {
  list-style-type: none;
  li {
    list-style-type: none;
  }
}

.app-container
  .content-container
  .side-menu
  .navbar-header
  .navbar-brand
  .title {
  text-transform: uppercase;
  position: relative;
  top: 0px;
  left: 4px;
}

.app-container .content-container .side-menu .navbar-nav li a .title {
  position: relative;
  top: -4px;
}

.voyager .side-menu.sidebar-inverse .navbar li.active > a {
  color: #fff;
  background: none;
  border-left: 0px;
}

.voyager .side-menu.sidebar-inverse .navbar li > a {
  color: #76838f;
}

.voyager .side-menu.sidebar-inverse .navbar {
  background: none;
  font-weight: 400;
}

.voyager .side-menu.sidebar-inverse {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#353d47+0,21292e+100 */
  background: rgb(53, 61, 71); /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    rgba(53, 61, 71, 1) 0%,
    rgba(33, 41, 46, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    rgba(53, 61, 71, 1) 0%,
    rgba(33, 41, 46, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    rgba(53, 61, 71, 1) 0%,
    rgba(33, 41, 46, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353d47', endColorstr='#21292e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  overflow-x: hidden;
  -webkit-transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.app-container .side-body,
.app-container.expanded .content-container .navbar-top,
.app-container .content-container .navbar-top {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.app-container.expanded.no-animation .content-container,
.app-container.expanded.no-animation {
  transition: none;
}

.voyager .side-menu.sidebar-inverse .navbar li > a:hover {
  color: #fff;
  background: #2a363b;
}

/**** HAMBURGER MENU **********/

.hamburger {
  float: left;
  width: 30px;
  height: 30px;
  position: relative;
  padding: 28px 30px;
  cursor: pointer;
  opacity: 1;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  padding-left: 20px;
  margin-right: 0px;
}

.hamburger:hover {
  opacity: 0.7;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger-inner {
  width: 15px;
  height: 2px;
  background: #76838f;
  display: block;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
  position: absolute;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger-inner:after {
  width: 10px;
  height: 2px;
  background: #76838f;
  display: block;
  border-radius: 10px;
  position: absolute;
  bottom: -5px;
  content: "";
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger-inner:before {
  width: 20px;
  height: 2px;
  background: #76838f;
  display: block;
  border-radius: 10px;
  position: absolute;
  content: "";
  top: -5px;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger.is-active .hamburger-inner {
  width: 20px;
}

.hamburger.is-active .hamburger-inner:before {
  width: 20px;
  -webkit-transform: translate3d(-5px, 1px, 0) rotate(-45deg) scaleX(0.5);
  transform: translate3d(-5px, 1px, 0) rotate(-45deg) scaleX(0.5);
}

.hamburger.is-active .hamburger-inner:after {
  width: 20px;
  -webkit-transform: translate3d(-5px, -1px, 0) rotate(45deg) scaleX(0.5);
  transform: translate3d(-5px, -1px, 0) rotate(45deg) scaleX(0.5);
}

.hamburger.is-active.no-animation .hamburger-inner,
.hamburger.is-active.no-animation .hamburger-inner:before,
.hamburger.is-active.no-animation .hamburger-inner:after {
  transition: none;
  width: 20px;
}

#voyager-loader {
  background: #f9f9f9;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 99;
}

#voyager-loader img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-right: -50px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.voyager .navbar .navbar-nav .dropdown-menu,
.voyager .navbar.navbar-default .navbar-nav .dropdown-menu {
  background-color: #fff;
}

.navbar .dropdown-menu.dropdown-menu-animated {
  display: block;
  padding: 1.5rem 1.75rem;
  visibility: hidden;
  border: 0 none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transform: scale3d(0.95, 0.95, 1) translate3d(0, -15px, 0);
  transform-origin: 100% 0;
  border-radius: 4px;
  border: 0 none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  background-clip: padding-box;
  width: 250px;
  z-index: 98;
  margin-right: 5px;
  margin-top: 5px;
}

.navbar .dropdown.profile .dropdown-menu {
  width: 250px;
  padding: 18px;
  display: none;
  position: relative !important;
  visibility: hidden;
}

.navbar .dropdown.profile .dropdown-menu h5,
.navbar .dropdown.profile .dropdown-menu h6 {
  float: left;
}

.navbar .dropdown.profile .dropdown-menu h6 {
  margin-top: 0;
  font-weight: 200;
  width: 115px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile .dropdown-toggle img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar .dropdown.profile .dropdown-menu h5 {
  float: left;
  margin-bottom: 5px;
  margin-top: 12px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 10px 5px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
  text-align: left;
  transition: color 0.3s ease;
}

.dropdown-menu > li > a i {
  position: relative;
  top: 2px;
}

.dropdown-menu .divider {
  margin-top: 20px;
  background-color: #f1f1f1;
}

.dropdown-menu > li:last-child > a {
  margin-bottom: 10px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background: none;
  color: #333;
  transition: color 0.3s ease;
}

.navbar .dropdown.profile .dropdown-menu .profile-body {
  padding-left: 10px;
}

.navbar .open .dropdown-menu.dropdown-menu-animated {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

.navbar .dropdown.profile .dropdown-menu li.profile-img img.profile-img {
  height: 60px;
  width: 60px;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}

.page-title .btn.btn-success {
  position: relative;
  left: 15px;
  top: -1px;
}

.breadcrumb {
  padding: 4px 10px;
  list-style: none;
  background-color: #fff;
  border-radius: 25px;
  position: relative;
  top: 2px;
  border: 1px solid #f9f9f9;
  font-size: 12px;
  padding-right: 15px;
}

.breadcrumb a {
  color: #22a7f0;
  font-family: "Open Sans";
  font-weight: 400;
}

.breadcrumb i {
  position: relative;
  top: 2px;
}

.breadcrumb > .active,
.breadcrumb > li {
  font-weight: 400;
}

.site-footer-right {
  padding-right: 20px;
}

.form-control {
  color: #76838f;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e4eaec;
}

.form-control.focus,
.form-control:focus {
  border-color: #62a8ea;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-sm {
  height: 32px;
  padding: 6px 13px;
  font-size: 12px;
  line-height: 1.5;
}

.voyager .panel.panel-warning .panel-heading {
  background-color: #f2a654;
  border-bottom: 0px;
}

.voyager .panel.panel-primary .panel-heading {
  background-color: #62a8ea;
  border-bottom: 0px;
}

.voyager .panel.panel-primary .panel-info,
.voyager .panel.panel-info .panel-heading {
  background-color: #57c7d4;
  border-bottom: 0px;
}

.panel-title {
  display: block;
  padding: 20px 30px;
  padding-left: 15px;
  font-size: 18px;
  text-align: left;
}

.panel-footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,ffffff+100 */
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(252, 252, 252, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(252, 252, 252, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(252, 252, 252, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.voyager .panel.panel-warning,
.voyager .panel.panel-primary,
.voyager .panel.panel-info {
  border: 0px;
}

.voyager .pagination .active > a,
.voyager .pagination .active > a:focus,
.voyager .pagination .active > a:hover,
.voyager .pagination .active span,
.voyager .pagination .active > span:focus,
.voyager .pagination .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #62a8ea;
  border-color: #62a8ea;
  outline: none;
}

.pagination li > a:focus,
.pagination li > a:hover,
.pagination li > span:focus,
.pagination li > span:hover {
  outline: none;
}

.panel-bordered > .panel-body {
  padding: 20px;
  padding-top: 30px;
  overflow: hidden;
}

.voyager .panel {
  margin-bottom: 22px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.btn.btn-primary {
  color: #fff;
  opacity: 0.9;
  background: #22a7f0;
  border: 0px;
  border-radius: 3px;
}

.btn.btn-primary:hover {
  opacity: 1;
}

.btn.btn-primary.active {
  background: #0081ca;
}

.voyager .btn.btn-circle {
  border-radius: 50px;
}

.voyager .btn.btn-sm {
  opacity: 0.9;
}

.voyager .btn.btn-sm:hover {
  opacity: 1;
}

.voyager .btn.btn-sm,
.voyager .btn.btn-sm:hover {
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
  color: #fff;
}
.voyager .btn.btn-default.btn-sm,
.voyager .btn.btn-default.btn-sm:hover {
  color: inherit;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  opacity: 1;
}

.widgets {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.panel.widget {
  padding: 30px;
  border: 0px;
  border-radius: 3px;
  flex: 1;
  margin: 10px;
}

.panel.widget.center {
  text-align: center;
}

.panel.widget .avatar {
  width: 100px;
  height: auto;
  border: 0 none;
  border-radius: 50%;
}

.panel.widget i {
  font-size: 48px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  color: #eee;
  line-height: 110px;
}

.panel.widget h4 {
  color: #fff;
  font-weight: 300;
  margin-top: 20px;
  font-size: 20px;
}

.panel.widget p {
  margin: 30px 0;
  font-size: 20px;
  font-size: 14px;
  line-height: 1.57142857;
  color: #ddd;
  display: block;
  max-height: 65px;
  margin-bottom: 0px;
}

.panel.widget .readm-link {
  margin-top: 20px;
  color: #fff;
  text-decoration: underline;
}

.panel.widget .btn-primary {
  margin-top: 20px;
  color: #fff;
}

.btn {
  padding: 6px 15px;
  font-size: 14px;
  line-height: 1.57142857;
  border-radius: 3px;
  -webkit-transition: border 0.2s linear, color 0.2s linear, width 0.2s linear,
    background-color 0.2s linear;
  -o-transition: border 0.2s linear, color 0.2s linear, width 0.2s linear,
    background-color 0.2s linear;
  transition: border 0.2s linear, color 0.2s linear, width 0.2s linear,
    background-color 0.2s linear;
  -webkit-font-smoothing: subpixel-antialiased;
}

.panel.widget.bgimage {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.panel.widget .panel-content {
  z-index: 9;
  position: relative;
}

.panel.widget .dimmer {
  background: rgba(45, 53, 61, 0.5);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d353d+0,2d353d+100&0.79+0,0.5+100 */
  background: -moz-linear-gradient(
    -45deg,
    rgba(45, 53, 61, 0.79) 0%,
    rgba(45, 53, 61, 0.5) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(45, 53, 61, 0.79) 0%,
    rgba(45, 53, 61, 0.5) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(45, 53, 61, 0.79) 0%,
    rgba(45, 53, 61, 0.5) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c92d353d', endColorstr='#802d353d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  opacity: 1;
  transition: all 0.3s ease;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.side-menu .panel.widget .dimmer {
  border-radius: 0px;
}

.side-menu:hover .panel.widget .dimmer,
.expanded .side-menu .panel.widget .dimmer {
  background: -moz-linear-gradient(
    275deg,
    rgba(36, 44, 50, 1) 0%,
    rgba(36, 44, 50, 0.95) 34%,
    rgba(36, 44, 50, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    275deg,
    rgba(36, 44, 50, 1) 0%,
    rgba(36, 44, 50, 0.95) 34%,
    rgba(36, 44, 50, 0.7) 100%
  );
  background: linear-gradient(
    275deg,
    rgba(36, 44, 50, 1) 0%,
    rgba(36, 44, 50, 0.95) 34%,
    rgba(36, 44, 50, 0.7) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242c32', endColorstr='#00242c32',GradientType=1 );
}

.side-menu .navbar-header,
.voyager .side-menu .navbar-header {
  float: none;
  margin-bottom: 0px;
}

.side-menu .panel.widget {
  padding: 12px 0;
  margin: 0px;
  border-radius: 0px;
}

.side-menu-container .side-menu .panel.widget .dimmer {
  border-radius: 0px;
}

.app-container .side-menu .panel.widget p,
.app-container .side-menu .panel.widget h4,
.app-container .side-menu .panel.widget a {
  display: none;
}

.app-container .side-menu .panel.widget p {
  font-size: 12px;
  margin-top: 0px;
}

.app-container .side-menu .panel.widget .avatar {
  width: 36px;
  height: 36px;
  float: left;
  margin-left: 12px;
  border: 0px;
  position: relative;
  top: 3px;
}

.app-container .side-menu .panel.widget h4 {
  float: left;
  display: block;
  position: absolute;
  left: 60px;
  top: -7px;
  width: 190px;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: 17px;
  left: 56px;
  overflow: hidden;
  height: 26px;
}

.app-container.expanded .panel.widget h4 {
  opacity: 1;
}

.app-container .side-menu:hover .panel.widget h4 {
  opacity: 1;
}

.app-container .side-menu:hover .panel.widget .avatar {
  float: left;
  margin-left: 12px;
  transition: none;
}

.app-container.expanded .fadetoblack {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 800;
}

.dd .item_actions {
  z-index: 9;
  position: relative;
  top: 4px;
  right: 10px;
}

.dd .item_actions .delete,
.dd .item_actions .edit {
  cursor: pointer;
}

.dd .item_actions .edit {
  margin-right: 5px;
}

.dd .dd-handle .url {
  font-weight: normal;
  margin-left: 10px;
}

.toggle-group .btn,
.toggle-group .btn.btn-default {
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
}

.toggle-group span.btn,
.toggle-group span.btn-default {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 20px;
}

.toggle.btn {
  margin-top: 0px;
  height: 30px !important;
  line-height: 20px !important;
  margin-bottom: 0px;
}

.delete-row {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 4px;
}

.drag {
  text-align: center;
}

.drag i {
  font-size: 20px;
  margin-top: 5px;
  cursor: move;
  display: block;
  color: #a6b3bf;
}

.drag i:hover {
  color: #76838f;
}

.newTableRow.ui-sortable-helper {
  width: 100%;
  border: 1px solid #eaeaea;
  border-top: 0px;
  background: #fff;
  display: table;
}

.newTableRow {
  position: relative;
  width: 100%;
}

.newTableRow td {
  position: relative;
}

.enum_val {
  display: none;
}

.enum_val input {
  width: auto;
}

#delete_builder_form {
  margin-left: 10px;
  float: right;
}

.btn-outline {
  background: none;
  border: 1px solid #ddd;
}

@media (min-width: 800px) {
  #table_info .modal-dialog {
    width: 750px;
  }
}

#table_info .modal-title {
  padding-left: 36px;
}

#table_info .modal-title i {
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 13px;
}

.database-tables .name {
  float: left;
  position: relative;
}

.database-tables .browse_bread {
  margin-right: 10px;
}

.database-tables .name a {
  float: left;
}

.database-tables tr .btn-default:hover {
  background: #ffffff;
}

.database-tables tr .btn-danger:hover {
  background: #f96868;
}

.database-tables tr .bread_actions {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.database-tables tr:hover .bread_actions {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.database-tables .bread_actions .edit {
  margin-left: 0px;
  display: inline-block;
}

.database-tables .btn-default {
  border: 1px solid #eeeeee;
}

.database-tables .bread_actions form .btn-default {
  border: 1px solid #eeeeee;
}

.voyager .side-menu.sidebar-inverse .navbar li.dropdown .panel-body {
  padding: 0px;
}

.voyager .alert {
  margin-right: 0px;
  margin-bottom: 5px;
  border-radius: 0;
  color: #fff;
  border: 0;
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-bottom: 30px;
}

.voyager .alert.alert-success {
  background-color: #55b559;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
}
.voyager .alert.alert-danger {
  background-color: #f55145;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
}
.voyager .alert.alert-warning {
  background-color: #ff9e0f;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
}
.voyager .alert.alert-info {
  background-color: #22a7f0;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
}

.voyager .panel-body .alert {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.voyager input[type="file"] {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  outline: none;
  cursor: pointer;
  line-height: 16px;
  color: #aaa;
  font-weight: 500;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

.voyager input[type="file"]:hover,
.voyager input[type="file"]:active {
  background: #fcfcfc;
}

/********** CUSTOM RADIO BUTTON STYLES **********/

ul.radio {
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.radio li {
  color: #aaaaaa;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  border-bottom: 1px dotted #f1f1f1;
}

ul.radio li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

ul.radio li label {
  display: block;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  padding-left: 40px;
  margin: 9px auto;
  height: 25px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  margin-bottom: 5px;
}

ul.radio li:hover label {
  color: #535b65;
}

ul.radio li .check {
  display: block;
  position: absolute;
  border: 4px solid #aaaaaa;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 10px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

ul.radio li:hover .check {
  border: 4px solid #22a7f0;
}

ul.radio li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type="radio"]:checked ~ .check {
  border: 4px solid #22a7f0;
}

input[type="radio"]:checked ~ .check::before {
  background: #22a7f0;
}

input[type="radio"]:checked ~ label {
  color: #535b65;
}

/********** CUSTOM CHECKBOX BUTTON STYLES **********/

ul.checkbox {
  padding-left: 20px;
}

ul.checkbox li {
  margin-bottom: 20px;
}

ul.checkbox li ul li {
  margin-bottom: 0;
}

ul.checkbox label {
  padding-left: 0;
}

/********** END CUSTOM RADIO BUTTON STYLES **********/

/********** ACE editor defaults **********/

.ace_editor.min_height_400 {
  min-height: 400px;
  width: 100%;
}

.ace_editor.min_height_200 {
  min-height: 200px;
  width: 100%;
}

/********** End ACE editor defaults **********/

.btn-success i.voyager-plus {
  position: relative;
  top: 2px;
}

.show-res {
  margin-left: 5px;
  margin-top: 15px;
}

.alerts {
  padding: 10px 10px 0;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  top: 10px;
}

.alerts .alert {
  margin-right: 0px;
}

.alerts .alert > p,
.alerts .alert > ul {
  margin-top: 0;
}

/******** END VOYAGER THEME CSS *********/
