$colors: 'red', 'orange', 'yellow', 'green', 'teal', 'blue', 'indigo', 'purple', 'pink', 'gray';

@tailwind base;

@import "fonts";
@import "animations";
@import "elements";

@tailwind components;
@tailwind utilities;

@import "layout";
@import "vendor";