@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i');

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.header{
	border:1px solid #f3f3f3;
	background:#ffffff;
}

.header li a{
	line-height:45px;
}

.header h1 + ul{
	border-left:1px solid #f3f3f3;
}

.header li{
	border-right:1px solid #f3f3f3;
}

.header .right{
	top:26px;
}

.menu a, .menu a:visited{
	color:#22A7F0;
}

.menubar {
	font-size: 14px;
}

.content p{
	font-size:14.5px;
	color:#525252;
}

.content img[src*="helm"]{
	float:right;
	margin-top:20px;
	max-width:120px;
	margin-left:20px;
	opacity:0.2;
}

.content pre > code {
	font-size:13px;
}

img{
	width:100%;
}


@media (max-width: 480px) {
	.header h1{
		width:100%;
		text-align:center;
		border-bottom:1px solid #f1f1f1;
		padding-bottom:10px;
		margin-bottom:10px;
	}
	.header h1, .header h1 + ul{
		float:left;
	}
	.header h1 + ul{
		display:flex;
		width:100%;
		border:0px;
	}

	.header h1 + ul li{
		flex:1;
		border:0px;
	}
	.header h1 + ul li a{
		text-align:center;
	}
	.header .left{
		width:100%;
	}
	
}