body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -wenkit-background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
}

.login-sidebar {
    min-height:100vh;
    position:relative;
    border-radius:5px;
    z-index:2;
    padding:0;
    justify-content:center;
    background:#ffffff;
    border-top: 5px solid #22A7F0;
    border-radius: 0px;
}

.login-sidebar:after {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    content:"";
    opacity:0.8;
    z-index:3;
}

.login-container{
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 30px;
    top: 50%;
    margin-top: -150px;
}

.login-container p{
    text-align: left;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 3px;
    color: #757C85;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    font-size: 10px;
    text-transform: uppercase;
    width: auto;
}

.login-container form{
    padding-top:15px;
}

.login-container .glyphicon{
    top:0px;
    font-size:10px;
}

.login-container .signingin .glyphicon{
    top:1px;
    left:-5px;
    -webkit-transform-origin: 54% 50%;
    transform-origin:54% 50%;
    -ms-transform-origin:54% 50%;
}

.logo-title-container{
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin-top: -100px;
    left: 30px;
}

.logo-container {
    text-align:center;
    position:relative;
    z-index: 10;
    opacity:0.8;
}

.logo{
    height: auto;
    max-width: 52px;
    margin: 0 auto;
    padding-top:55px;
    padding-bottom: 20px;
}

.logo-container .logo{
    padding:50px 0px;
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}

.span-input{
    margin-left:10px;
    position:relative;
    top: -3px;
    font-size: 15px;
}
.login-button {
    display:block;
    text-align:center;
    text-decoration:none;
    color:#eee;
    font-family: 'Open Sans', sans-serif;
    font-weight:100;
    padding:12px 20px;
    border-radius:1px;
    outline:none !important;
    opacity:0.8;
    border:0px;
    width: auto;
    border-radius: 2px;
    float:left;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    transition:width 0.3s ease;
}
.login-button:hover, .login-button:focus {
    color: #FFF;
    opacity: 1
}
.copy {
    width: auto;
    padding: 30px;
    padding-bottom:12px;
}

.copy h1 {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    z-index: 9999;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    top: 0px;
    line-height: 45px;
    margin: 20px 0 0 20px;
    margin-left:14px;
}

.copy p {
    color: #fff;
    font-size: 13px;
    max-width: 650px;
    opacity: .9;
    position: relative;
    z-index: 99;
    font-weight: 300;
    margin-top: 0;
    left: 15px;
    position:relative;
    top:-8px;
}
.faded-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 50, 50, 0.5);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15151c+75,15151c+100&0+0,0.1+40,0.3+55,1+100 */
    background: -moz-linear-gradient(top, rgba(21,21,28,0) 0%, rgba(21,21,28,0.1) 40%, rgba(21,21,28,0.3) 55%, rgba(21,21,28,0.61) 75%, rgba(21,21,28,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(21,21,28,0) 0%,rgba(21,21,28,0.1) 40%,rgba(21,21,28,0.3) 55%,rgba(21,21,28,0.61) 75%,rgba(21,21,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(21,21,28,0) 0%,rgba(21,21,28,0.1) 40%,rgba(21,21,28,0.3) 55%,rgba(21,21,28,0.61) 75%,rgba(21,21,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0015151c', endColorstr='#15151c',GradientType=0 ); /* IE6-9 */
}
.glyphicon-refresh {
    -webkit-animation:spin 0.6s infinite linear;
    -moz-animation:spin 0.6s infinite linear;
    animation:spin 0.6s infinite linear;
}
.alert-black {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
    margin-top: 20px;
}

.alert-red{
    background: #e74c3c;
    border-left: 5px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
    margin-top: 20px;
}

.form-group-default {
    background-color: #fff;
    position: relative;
    border: 1px solid rgba(28,43,54,.07);
    border-radius: 2px;
    padding: 7px 12px 4px;
    overflow: hidden;
    transition: background-color .2s ease;
}

.form-group-default label {
    margin: 0;
    display: block;
    opacity: 1;
    transition: opacity .2s ease;
    font-weight: 500;
    font-size: 10px;
    color:#58666e;
    margin-bottom:3px;
}

.form-group-default .form-control{
    border: none;
    height: 25px;
    min-height: 25px;
    padding: 0;
    margin-top: -4px;
    background: 0 0;
}

.form-control{
    background: #fff;
    border: 1px solid rgba(28,43,54,.07);
    -webkit-appearance: none;
    color: #1c2b36;
    outline: 0;
    border:0;
    height: 35px;
    line-height: normal;
    font-weight: 300;
    vertical-align: middle;
    min-height: 35px;
    box-shadow: none;
    border-radius: 2px;
    transition: background .2s linear 0s;

}

.form-control-grey:focus, .form-control:focus {
    outline: 0!important;
    box-shadow: none;
}

.form-control:focus::-webkit-input-placeholder{
    color:#1c2b36;
}

.form-control:focus::-moz-placeholder{
    color:#1c2b36;
}

.form-control:focus:-ms-input-placeholder{
    color:#1c2b36;
}

.form-control:focus:-moz-placeholder{
    color:#1c2b36;
}