/*
 * Right-To-Left (RTL) Support
 * ----------
 */

[dir="rtl"] .navbar {
  padding-left: 0px;
  padding-right: 60px;}

[dir="rtl"] .app-container .side-body{
  margin-left: -15px;
  margin-right: 45px;
}

[dir="rtl"].flat-blue .app-footer {
  text-align: left;
  padding-left: 20px;
}

[dir="rtl"] .navbar-header {
  float: right;
}

[dir="rtl"] .app-container.expanded .content-container .navbar-top {
  padding-left: 0px;
  padding-right: 250px;
}

[dir="rtl"] .app-container .content-container .navbar-top .hamburger {
  float: right;
}

[dir="rtl"] .app-container .content-container .side-menu .navbar, .nav.navbar-nav {
  padding-right: 0px;
}

[dir="rtl"] table th{
  text-align: right;
}

[dir="rtl"] table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after{
  right: unset;
  left: 4px;
}

[dir="rtl"] .dataTables_length {
  float: left
}

[dir="rtl"] .app-container .content-container .side-menu {
    right: 0;
}

[dir="rtl"] .page-title {
  padding-right: 25px
}

[dir="rtl"] .page-title > i {
    position: unset;
    margin-right: unset;
    font-size: 36px;
    margin-left: 10px;
    float: right;
}

[dir="rtl"] .page-title .btn.btn-success {
    left: unset;
    right: 15px;
}

[dir="rtl"] .breadcrumb > li + li:before {
  display: none;
}

[dir="rtl"] .breadcrumb li+li:after {
    padding: 0 5px;
}
[dir="rtl"] .breadcrumb > li + li:after {
    font-family: Voyager;
    content: '\e046';
    position: relative;
    top: 1px;
    margin-left: 3px;
}

[dir="rtl"] .dropdown-toggle.text-right {
  float: left;
}

[dir="rtl"] .dropdown-menu.dropdown-menu-animated {
  margin-top: 100px
}

